/* styles.css */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
  }
  
.container {
	font-family: arial;
	font-size: 24px;
	margin: 25px;
	width: 350px;
	height: 200px;
	outline: dashed 1px black;
  }
  
p {
	/* 水平方向の中央揃え */
	text-align: center;
  }

  header {
	background-color: #333;
	padding: 20px;
  }
  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  nav ul li {
	display: inline-block;
	margin-right: 10px;
  }
  
  nav ul li a {
	color: #fff;
	text-decoration: none;
  }
  
  main {
	padding: 20px;
  }
  
  section {
	margin-bottom: 20px;
  }
  
  section h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  section p {
	font-size: 16px;
	line-height: 1.5;
  }
  
  form label {
	display: block;
	margin-bottom: 5px;
  }
  
  form input,
  form textarea {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
  }
  
  form input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
  }
  
  footer{
    font-size: 15px;
	margin: 25px;
	width: 350px;
	height: 200px;
  }