@charset "UTF-8";
/*========= レイアウトのためのCSS ===============*/
#container{
  width:100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a{
  color: #333;
}

a:hover{
   text-decoration: none;   
}

html {
  font-size: 100%;
}
body {
  color: #121212;
  font-size: 0.9rem;
  line-height: 1.7;
}
a {
  color: #121212;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  line-height: 1px;
}
.site-title a {
  display: block;
  z-index: 10;
}
.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}
/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 1;
  transform: translateY(0);
  transition: none; /* この行を追加 */
}

#feature .grid .item {
  transition: none; /* この行を追加 */
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
/*
「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される
*/
#header {
  width: 100%;
  display: flex;
  padding: 20px 40px;
  z-index: 10;
  overflow-x: hidden;
}

/*
ハンバーガーメニュー
解説は、「中級編：ストアサイト（インテリア）」のCSS参照
*/
#navi {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #ffffff;
  padding: 60px 25px;
  background-color: #414141;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
#navi a {
  color: #aeaeae;
}
.open #navi {
  left: 0;
  opacity: 1;
}
#navi ul {
  margin: 0;
  padding: 0;
}
#navi ul.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #000000;
}
#navi ul.nav-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #f6f6f6;
}
#navi ul.nav-sns li {
  padding: 5px 0;
}
.toggle_btn {
  display: block;
  position: fixed;
  right: 45px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #000000;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}
/*-------------------------------------------
Main
-------------------------------------------*/

/*-------------------------------------------
Video
-------------------------------------------*/
bg-video {
  width: 100%;
  max-height: 900px;
  object-fit: cover;
  overflow-x: hidden;
}

#video {
  position: relative; 
  padding-top: 80px;
  overflow: hidden; 
}

h3.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 350px;
  white-space: nowrap;
  animation: slideTextLeft 6s linear infinite;
}

/*-------------------------------------------
Pickup
-------------------------------------------*/
#pickup .slick-area {
  width: 100%;
  padding: 0;
  overflow-x: auto;
  font-size: 0;
}

#pickup .slick-area li {
  padding: 0;
  width: 300px; /* 画像の横幅を指定 */
  height: 200px; /* 画像の高さを指定 */
  display: inline-block; /* 横並びにするためにインラインブロック要素にする */
  margin-right: 10px; /* 画像の間に間隔を追加 */
}

#pickup .slick-area img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像をリサイズして切り取る */
}

/*-------------------------------------------
Feature
-------------------------------------------*/

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  color: #fff;
  background-color: #121212;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}

/*-------------------------------------------
SP
-------------------------------------------*/
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    padding: 20px 16px;
  }
  .toggle_btn {
    right: 20px;
  }

  /*-------------------------------------------
  Video
  -------------------------------------------*/
  /*
  「height: 100vh;」で画面の高さにあわせる
  「object-fit: cover;」で中央でトリミング
  */
  #bg-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  /*-------------------------------------------
  Pickup
  -------------------------------------------*/
  #pickup {
    padding: 80px 0;
  }
  #pickup .slick-area li {
    padding: 0 20px;
  }

  /*-------------------------------------------
  Feature
  -------------------------------------------*/
  #feature {
    padding: 80px 16px;
  }
  #feature .grid .item-content {
    padding: 16px;
  }

  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  #contact {
    padding: 80px 0;
  }
  #contact .content {
    flex-direction: column;
  }
  #contact .contact-info,
  #contact .contact-form {
    width: 100%;
  }
  #contact .contact-form .button input {
    width: 100%;
  }
.input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
  }

